@import url("https://fonts.googleapis.com/css2?family=Benne&family=Montserrat:wght@300;500;600&family=Mouse+Memoirs&family=Poiret+One&display=swap");

body {
  background-color: #060822;
}

.tudolistimg {
  width: 20%;
  margin: auto;
}

.main-tudolist {
  margin-top: 10%;
}

.tudolistimg img {
  width: 100%;
}

.input-tudo-list {
  position: relative;
  width: 60%;
}

.input-tudo-list input {
  height: 35px;
}

.input-tudo-list-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: rgb(85, 41, 220);
  border: none;
  color: #fff;
  font-family: "Poiret One", cursive;
}

.input-tudo-list-container:hover {
  background-color: #fff;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 768px) {
  .input-tudo-list,
  .input-tudo-list-container {
    width: 95%;
  }
}

@media (max-width: 900px) {
  .input-tudo-list,
  .input-tudo-list-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .input-tudo-list,
  .input-tudo-list-container {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  .input-tudo-list input {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .main-tudolist h5 {
    font-size: 1.6rem;
  }

  .tudolistimg {
    width: 50%;
  }
  .btn-remove-all {
    font-size: 1.6rem;
  }
}

.fa-plus,
.edit-Items {
  position: absolute;
  top: calc(30%);
  right: calc(3%);
}

.btn-remove-all {
  padding: 6px 12px;
  font-family: "Poiret One", cursive;
  font-weight: 900;
}

.btn-remove-all:hover {
  background-color: rgb(214, 47, 61);
  color: rgb(179, 171, 171);
  transition: all 0.3s ease;
}

.input-tudo-list-container h5 {
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0.08rem;
}

.input-tudo-list-container:hover .fa-pen-to-square {
  color: rgb(100, 214, 47);
}

.input-tudo-list-container:hover .fa-trash {
  color: rgb(214, 47, 61);
}

.input-tudo-list-container:hover h5 {
  color: #060822;
}

.fa-plus,
.fa-pen-to-square,
.fa-trash {
  cursor: pointer;
}

.main-tudolist h5 {
  font-family: "Poiret One", cursive;
  font-weight: 900;
  color: #fff;
}
